html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden; 
}

canvas {
  display: block;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: -1; 
}

body {
  background: #191919;
  color: rgb(255, 245, 233);
  font-family: "JetBrains Mono", monospace;
}

:root {
  --spacing-small: 20px;
  --spacing-large: 40px; 
  --header-height: 80px; 
}

.red {
  color: red;
}

#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
    z-index: 20;
    background-color: #191919;
}

.logo {
    color: rgb(255, 245, 233);
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: -1px;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-link {
    color: rgb(255, 245, 233);
    text-decoration: none;
    font-size: 0.9rem;
    margin-left: 40px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.nav-link:hover {
    text-decoration: underline;
}

#container {
  display: flex;
  width: 100vw;
  height: calc(100vh - 60px);
  padding-top: 60px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #191919;
}


#sketch-container {
  flex: 1;
  position: relative;   
}

#sketch-container canvas {
    top: 80px !important;
}

.about-section {
  width: 100vw;
  height: 100vh; 
  text-align: center;
  position: absolute; 
  top: 0;
  left: 0;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: center;
  
  padding: 5%; 
  padding-bottom: 10vh; 
  box-sizing: border-box;
  background: transparent; 
  z-index: 1; 
  padding-top: var(--header-height);
}

.about-section h2 {
    font-size: 2.4rem;
    font-weight: 400;
    color: red;
    margin-bottom: var(--spacing-small); 
}

.about-text {
  white-space: pre-line; 
  width: 60%;
  max-width: 700px; 
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 200;
  text-align: center;
  opacity: 0; 
  min-height: 12em; 
}