html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

body {
  min-height: 400vh;
  background: #191919;
  color: rgb(255, 245, 233);
  font-family: "JetBrains Mono", monospace;
  overflow-x: hidden;
}

/* distanza tra elementi dello stesso container */
:root {
  --spacing-small: 20px;
  --spacing-large: calc(var(--spacing-small) * 2);
}

/* distanza tra i container */
.section {
  width: 100%;
  text-align: center;
  position: absolute;
}

/* rende visibile quando il testo va a capo */
#about-intro, #about-team, #about-project {
  white-space: pre-line;
}

.red {
  color: red;
}

/* ABOUT US */

#intro-container {
  top: 20%;
}

#title {
  font-size: 3rem;
  font-weight: 400;
  color: red;
  white-space: nowrap;
  margin-bottom: var(--spacing-large);
}

#about-intro {
  width: 60%;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 200;
  text-align: center;
  opacity: 0;
  margin-bottom: var(--spacing-large);
}

#arrow {
  font-size: 2rem;
  color: red;
  margin-top: 0;
  animation: blink 1.2s infinite alternate;
}

@keyframes blink {
  from { opacity: 1; }
  to   { opacity: 0.3; }
}

/* OUR TEAM */

#team-container {
  top: calc(20% + 140vh);
}

#our-team {
  font-size: 2.4rem;
  font-weight: 400;
  color: red;
  margin-bottom: var(--spacing-large);
}

#about-team {
  width: 60%;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  font-weight: 200;
  opacity: 0;
  margin-bottom: var(--spacing-large);
}

#arrow2 {
  font-size: 2rem;
  color: red;
  animation: blink 1.2s infinite alternate;
}

/* OUR PROJECT */

#project-container {
  top: calc(20% + 280vh);
}

#our-project {
  font-size: 2.4rem;
  font-weight: 400;
    color: red;
  margin-bottom: var(--spacing-large);
}

#about-project {
  width: 60%;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  font-weight: 200;
  opacity: 0;
}


