html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden; 
}

canvas {
  display: block;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: -1; 
}

body {
  background: #191919;
  color: rgb(255, 245, 233);
  font-family: "JetBrains Mono", monospace;
}

:root {
  --spacing-small: 20px;
  --spacing-large: 40px; 
  --header-height: 80px; 
}

.red {
  color: red;
}

#main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 5%;
  box-sizing: border-box;
  z-index: 1000;
  background-color: #191919;
}

.logo {
  color: rgb(255, 245, 233);
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: -1px;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-link {
  color: rgb(255, 245, 233);
  text-decoration: none;
  font-size: 0.9rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.nav-menu > .nav-link, 
.dropdown {
  margin-left: 40px;
}

.nav-link:hover {
  text-decoration: underline;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Il contenuto del menu (i due link) */
.dropdown-content {
  display: none; 
  position: absolute;
  background-color: #191919;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
  top: 100%; /* Si posiziona subito sotto visualizations */
  padding-top: 10px;
}

/* Link dentro la tendina */
.dropdown-content a {
  color: rgb(255, 245, 233);
  padding: 15px 16px;
  text-decoration: none;
  display: block;
  font-size: 0.85rem;
}

.dropdown-content a:hover {
  background-color: #2a2a2a;
  text-decoration: underline;
}

/* si mostra la finestra solo in hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#container {
  display: flex;
  width: 100vw;
  height: calc(100vh - 60px);
  padding-top: 60px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #191919;
}


#sketch-container {
  flex: 1;
  position: relative;   
}

#sketch-container canvas {
    top: 80px !important;
}

.about-section {
  width: 100vw;
  height: 100vh; 
  text-align: center;
  position: absolute; 
  top: 0;
  left: 0;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: center;
  
  padding: 5%; 
  padding-bottom: 10vh; 
  box-sizing: border-box;
  background: transparent; 
  z-index: 1; 
  padding-top: var(--header-height);
}

.about-section h2 {
    font-size: 2.4rem;
    font-weight: 400;
    color: red;
    margin-bottom: var(--spacing-small); 
}

.about-text {
  white-space: pre-line; 
  width: 60%;
  max-width: 700px; 
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 200;
  text-align: center;
  opacity: 0; 
  min-height: 12em; 
}