html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; 
  overflow-x: hidden; 
  overflow-y: auto; 
}

canvas {
  display: block;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: -1; 
}

body {
  background: #191919;
  color: rgb(255, 245, 233);
  font-family: "JetBrains Mono", monospace;
}

/* HEADER */
:root {
  --header-height: 80px; 
}

#main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 5%;
  box-sizing: border-box;
  z-index: 1000;
  background-color: #191919;
}

.logo {
  color: rgb(255, 245, 233);
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: -1px;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-link {
  color: rgb(255, 245, 233);
  text-decoration: none;
  font-size: 0.9rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.nav-menu > .nav-link {
  margin-left: 40px;
}

.nav-link:hover {
  text-decoration: underline;
}

/* ACCORDION */
#accordion-wrapper {
  width: 70%;
  max-width: 900px;
  margin: 0 auto; 
  min-height: 100vh; 
  display: flex;  
  flex-direction: column; 
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 40px; 
  box-sizing: border-box;
}

/* linee separatori */
.accordion-section {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.accordion-header {
  font-size: 2.2rem;
  font-weight: 700;
  color: red;
  margin: 0;
  padding: 30px 0;
  cursor: pointer;
  transition: opacity 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* freccetta a lato */
.accordion-header::after {
  content: '\2335';
  color: rgb(255, 245, 233);
  font-family: "JetBrains Mono", monospace; 
  font-size: 1.8rem; 
  font-weight: bold; 
  transition: transform 0.3s ease;
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle; 
}

/* freccetta a lato ruotata */
.accordion-section.active .accordion-header::after {
  transform: rotate(180deg); 
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.about-text {
  font-size: 1.1rem;
  line-height: 1.6;
  font-weight: 200;
  color: rgb(255, 245, 233);
  padding-bottom: 30px;
  white-space: pre-line;
  margin: 0;
  text-align: left;
}