/*html, body {
  margin: 10px;
  padding: 10px;
}*/

canvas {
  display: block;
}

body {
  min-height: 200vh;
  overflow-x: hidden;
  background: #191919;
  color: rgb(255, 245, 233);
  font-family: "JetBrains Mono", monospace;
}

#visualization-section {
  min-height: 100%;
  position: relative;
  padding-right: 30vh;
}

#visualization {
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

#visualization canvas {
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  transition: opacity 0.6s ease-out;
}