html, body {
  margin: 10px;
  padding: 10px;
}

canvas {
  display: block;
}

body {
  min-height: 200vh;
  overflow-x: hidden;
  background: #191919;
  color: rgb(255, 245, 233);
  font-family: "JetBrains Mono", monospace;
}

#intro-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
}

#title-container {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  z-index: 100;
  pointer-events: none;
}

#title {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 20px;
  white-space: nowrap;
}

#arrow {
  font-size: 3.5rem;
  color: red;
  margin-top: 20px;
  animation: blink 1.2s infinite alternate;
}

@keyframes blink {
  from { opacity: 1; }
  to   { opacity: 0.3; }
}


#intro-text {
  position: absolute;
  top: calc(30% + 80vh); /* di 80% della viewport sotto il titolo */
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  font-weight: 200;
  color: rgb(255, 245, 233);
  opacity: 0; /* appare quando inizia l’animazione */
  z-index: 100;
  pointer-events: none;
}

#visualization-section {
  margin-top: 120vh;
  min-height: 200vh;
  position: relative;
  padding-top: 10vh;
}

#visualization {
  width: 100%;
  height: 400vh;
  pointer-events: none;
  z-index: 1;
}

#visualization canvas {
  width: 100%;
  opacity: 0;
  transition: opacity 0.6s ease-out;
}