html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'JetBrains Mono', monospace;
  overflow: hidden;
  background-color: #191919;
}

a {
  text-decoration: none;
}

.red {
  color: red;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

/* HEADER */
#main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 5%;
  box-sizing: border-box;
  z-index: 1000;
  background-color: #191919;
}

.logo {
  color: rgb(255, 245, 233);
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: -1px;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-link {
  color: rgb(255, 245, 233);
  text-decoration: none;
  font-size: 0.9rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.nav-menu > .nav-link, 
.dropdown {
  margin-left: 40px;
}

.nav-link:hover {
  text-decoration: underline;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none; 
  position: absolute;
  background-color: #191919;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
  top: 100%;
  padding-top: 10px;
}

.dropdown-content a {
  color: rgb(255, 245, 233);
  padding: 15px 16px;
  text-decoration: none;
  display: block;
  font-size: 0.85rem;
  
}

.dropdown-content a:hover {
  text-decoration: underline;
}


.dropdown:hover .dropdown-content {
  display: block;
}


/* CONTAINER E SIDEBAR */
#container {
  display: flex;
  width: 100vw;
  height: calc(100vh - 60px);
  padding-top: 60px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #191919;
}

#sketch-container {
  flex: 1;
  position: relative;   
}

#sketch-container canvas {
    top: 80px !important;
}

#sidebar {
  width: 300px;
  background-color: #191919;
  color: white;
  padding-right: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  margin: 0;
  position: relative;
}


/* WRAPPER E FRECCE NAVIGAZIONE */
.section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  top: 50%;
  height: 100%;
  text-align: center;
  padding: 20px;
  color: rgb(255, 245, 233);
  font-family: 'JetBrains Mono', monospace;
}


#graph-explained, #main-accordion, #conflicts {
  width: 100%;
  right: 15px;
  justify-content: center;
  align-items: center;
  z-index: 10;
}



.explanation-wrapper, .conflicts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section-title {
  font-size: 22px;
  font-weight: bold;
}

.section-body {
  font-size: 15px;
  line-height: 1.5;
}

#closure-body {
  font-weight: bold;
}

.navigation-arrows {
  display: inline-flex;
  gap: 8px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
}

.arrow {
  padding: 5px 17px;
  border: 2px solid rgb(255, 245, 233);
  background-color: rgba(0,0,0,0.2);
  border-radius: 2px;
  width: 30px;
  font-size: 15pt;
  font-family: "JetBrains Mono", monospace;
  color: rgb(255, 245, 233);
  cursor: pointer;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}


/* BOTTONE FILTRO*/
.filter-dropdown {
  position: absolute; /* rispetto al contenitore padre */
  top: 20px;          /* distanza dal bordo superiore */
  left: 20px;
  width: calc(100% - 40px);

}

.filter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 40px); /* stessa larghezza dell'IMPUNITY */
  padding: 12px 28px;       /* stesso padding */
  background-color: #191919;
  color: white;
  border: 2px solid red;
  border-radius: 60px;       /* stesso border-radius */
  cursor: pointer;
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;
  text-align: center;
  position: relative;
  box-sizing: border-box;    /* come l'IMPUNITY */
  transition: transform 0.2s ease, background-color 0.2s ease;
  z-index: 100;
  margin-left: 8px;          /* puoi regolare se vuoi margini diversi */
}


.filter-btn:hover {
  border-color: darkred;
}

#dropdown-arrow {
  font-size: 16pt;
  margin-bottom: 10px;
}

.filter-input:focus { /* questa classe non esiste, va gestita in js */
  outline: none;              
  border: 1px solid red;      
  box-shadow: 0 0 0 1px red; 
}

.filter-input::placeholder { /* questa classe non esiste, va gestita in js */
  color: rgba(80, 79, 79, 0.3);
}




#death-counter-container {
  display: none;
  position: absolute;
  top: 55%;               
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
  white-space: nowrap;
}

#death-counter-title {
   display: inline;          
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;          
  color: white;
  margin-right: 5px;        
  vertical-align: middle;
}

#death-counter {
 display: inline;           
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;           
  color: red;                
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: none;              
  width: auto;
  height: auto;
}

/* BOTTONE IMPUNITY */
.other-visualization-button {
  position: absolute;
  bottom: 5px;
  left: 20px;
  width: calc(100% - 40px);
  padding: 12px 28px;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;
  text-align: center;
  background-color: #a00000;
  color: white;
  border-radius: 60px;
  border: 1px solid #ff0000;
  cursor: pointer;
  transition: all 0.2s ease;
  z-index: 101; /* aggiunto */
}

.other-visualization-button:hover {
  background-color: #cc0000;
}

.other-visualization-body{
  position: absolute;
  bottom: 70px; 
  left: 20px;
  width: calc(100% - 40px);
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 1.2;
}


/* Dropdown dei paesi */
#filter-panel {
  display: none;
  flex-direction: column;
  position: absolute;
  width: calc(100% - 60px);  /* leggermente più stretto del bottone */
  top: 70px;                  /* separazione dal bottone */
  left: 46%;                  /* centro orizzontale */
  transform: translateX(-50%); /* centrato rispetto al bottone */
  max-height: 150px;          /* altezza per 4 paesi */
  overflow-y: auto;
  background-color: #191919;
  border: 1px solid red;
  border-radius: 12px;
  z-index: 999;
  padding: 5px 0;
}




/* Opzioni dei paesi */
#filter-panel .country-option {
  padding: 10px 16px;
  color: white;
  cursor: pointer;
}


#filter-panel .country-option:hover {
  background-color: #800000;
}


#search-input {
 display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 40px); /* stessa larghezza dell'IMPUNITY */
  padding: 12px 28px;       /* stesso padding */
  background-color: #191919;
  color: white;
  border: 2px solid red;
  border-radius: 60px;       /* stesso border-radius */
  cursor: pointer;
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;
  text-align: center;
  position: relative;
  box-sizing: border-box;    /* come l'IMPUNITY */
  transition: transform 0.2s ease, background-color 0.2s ease;
  z-index: 100;
  margin-left: 8px;          /* puoi regolare se vuoi margini diversi */
}

#search-input:focus {
  outline: none; /* rimuove il bordo blu */
}