html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'JetBrains Mono', monospace;
  overflow: hidden;
  background-color: #191919;
}


#main-header { /* testi header */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 5%;
  box-sizing: border-box;
  z-index: 20;
  background-color: #191919;
}

.logo {
  color: rgb(255, 245, 233);
  font-size: 1.2rem; /* Un po' più grande dei link */
  font-weight: bold;
  letter-spacing: -1px;
}

/* Contenitore per i link (per tenerli vicini tra loro a destra) */
.nav-menu {
  display: flex;
  align-items: center;
}

.nav-link { /* sempre qualcosa legato all'header */
  color: rgb(255, 245, 233);
  text-decoration: none;
  font-size: 0.9rem;
  margin-left: 40px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover { /* sottolineatura */
  text-decoration: underline;
}

#container {
  display: flex;
  width: 100vw;
  height: calc(100vh - 60px); /* altezza header reale */
  padding-top: 60px;         /* uguale a header */
  box-sizing: border-box;
  overflow: hidden;


  background-color: #191919;

}


#sketch-container {
  flex: 1;
  position: relative;   
}

#sketch-container canvas {
    top: 80px !important;
}

#sidebar {
  width: 300px;        /* sidebarWidth */
  background-color: #191919;
  color: white;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  margin: 0;
  position: relative;
}

.filter-dropdown {
  margin-bottom: 20px;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;

}

.filter-btn {
  display: flex;                
  align-items: center;           
  justify-content: center;       
  width: 100%;                   
  margin: 5px 0;
  padding: 12px 28px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;
  text-align: center;
  position: relative;
  transition: transform 0.2s ease, background-color 0.2s ease;
  z-index: 100;
}

.filter-btn .arrow {
  margin-left: 8px;              
  font-size: 14px;               
  vertical-align: middle;        
  transition: transform 0.3s ease;
}



.filter-input {
  width: 100%;
  padding: 10px;
  font-size: 1px;
  background-color: #191919;
  color: white;
  border: 1px solid red;
  border-radius: 12px;
  outline: none;             
  box-sizing: border-box;
}

.filter-input:focus {
  outline: none;              
  border: 1px solid red;      
  box-shadow: 0 0 0 1px red; 
}

.filter-input::placeholder {
  color: rgba(80, 79, 79, 0.3);
}

.filter-panel {
  display: none;                 
  max-height: 250px;             
  overflow-y: auto;              
  background-color: #191919;        
  color: white;
  border: 1px solid red;         
  box-sizing: border-box;
  margin-top: 5px;               
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  padding: 2px 0;                
  border-radius: 4px;            
  z-index: 10;                   
}

.filter-panel div {
  padding: 8px 12px;             
  cursor: pointer;
  transition: background 0.2s;
}

.filter-panel div:hover {
  background-color: darkred;
  color: white;
}

#countrySearch {
  width: 100%;
  padding: 6px 10px;
  font-family: 'JetBrains Mono', monospace;
  font-size: 12px;
  border: 1px solid red;
  background-color: #191919;
  color: white;
  box-sizing: border-box;
  margin-bottom: 5px;
  outline: none;
}

.filter-btn.search-mode {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  padding: 0 12px;              
  background-color: #191919;
  border: 1px solid red;
  border-radius: 12px;
  box-sizing: border-box;
  transition: border-color 0.2s ease;
}

.filter-btn.search-mode:hover {
  border-color: darkred;
}

.filter-btn.search-mode input {
  width: 100%;
  padding: 0 30px;             
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;
  text-align: center;
  height: 100%;
}

.filter-btn.search-mode input::placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.search-icon, .close-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 14px;
  cursor: pointer;
  padding: 0 8px;
  user-select: none;
}

.search-icon {
  right: 15px;  
}

.close-icon {
  left: 10px;   
}

.death-counter-title {
   display: inline;          
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;          
  color: white;
  margin-right: 5px;        
  vertical-align: middle;
}


.death-counter {
 display: inline;           
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;           
  color: red;                
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: none;              
  width: auto;
  height: auto;
}


#deathCounterContainer {
  display: none;
  position: absolute;
  top: 55%;               
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
  white-space: nowrap;       /* evita il capo del testo e numero */
}

