html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #191919;
  font-family: 'JetBrains Mono', monospace;
  overflow: hidden;
}

a {
  text-decoration: none;
}

#main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 5%;
  box-sizing: border-box;
  z-index: 1000;
  background-color: #191919;
}

.logo {
  color: rgb(255, 245, 233);
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: -1px;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-link {
  color: rgb(255, 245, 233);
  text-decoration: none;
  font-size: 0.9rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.nav-menu > .nav-link {
  margin-left: 40px;
}

.nav-link:hover {
  text-decoration: underline;
}

#container {
  display: flex;
  width: 100vw;
  height: calc(100vh - 60px);
  padding-top: 60px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #191919;
}


#sketch-container {
  flex: 1;
  position: relative;
}

#sketch-container canvas {
  top: 80px !important;
  position: absolute;
}

#sidebar {
  width: 300px;
  background-color: #191919;
  color: white;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  margin: 0;
  position: relative;
}

#headline {
  padding: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 20;
  font-family: 'JetBrains Mono', monospace;
  color: rgb(255, 245, 233);
  font-size: 17px;
}

.navigation-arrows {
  display: inline-flex;
  gap: 8px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
}

.arrow {
  padding: 5px 17px;
  border: 2px solid rgb(255, 245, 233);
  background-color: rgba(0,0,0,0.2);
  border-radius: 2px;
  width: 30px;
  font-size: 15pt;
  font-family: "JetBrains Mono", monospace;
  color: rgb(255, 245, 233);
  cursor: pointer;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#headline-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 100%;
}

#closure-wrapper {
    display: none;
    text-align: center;
    color: rgb(255,245,233);
    font-family: 'JetBrains Mono', monospace;
    padding: 30px;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 100%;
  text-align: center;
  padding: 20px;
  color: rgb(255, 245, 233);
  display: none;
  font-family: 'JetBrains Mono', monospace;
}

.section-title {
  visibility: hidden;
  font-size: 22px;
  font-weight: bold;
}

.section-body {
  visibility: hidden;
  font-size: 15px;
  line-height: 1.5;
}

/* BOTTONE */
.other-visualization-button {
  position: absolute;
  bottom: 5px;
  left: 20px;
  width: calc(100% - 40px);
  padding: 12px 28px;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;
  text-align: center;
  background-color: #a00000;
  color: white;
  border-radius: 60px;
  border: 1px solid #ff0000;
  cursor: pointer;
  transition: all 0.2s ease;
  z-index: 101; /* aggiunto */
}

.other-visualization-button:hover {
  background-color: #cc0000;
}

.other-visualization-body{
  position: absolute;
  bottom: 70px; 
  left: 20px;
  width: calc(100% - 40px);
  font-family: 'JetBrains Mono', monospace;
  font-size: 12px;
  color: white;
  text-align: center;
  line-height: 1.2;
}

.red {
  color: red;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}
