html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #191919;
  font-family: 'JetBrains Mono', monospace;
  overflow: hidden;
}

#main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 5%;
  box-sizing: border-box;
  z-index: 20;
  background-color: #191919;
}

.logo {
  color: rgb(255, 245, 233);
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: -1px;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-link {
  color: rgb(255, 245, 233);
  text-decoration: none;
  font-size: 0.9rem;
  margin-left: 40px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  text-decoration: underline;
}


#container {
  display: flex;
  width: 100vw;
  height: calc(100vh - 60px);
  padding-top: 60px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #191919;
}


#sketch-container {
  flex: 1;
  position: relative;
}

#sketch-container canvas {
  top: 80px !important;
  position: absolute;
}

#sidebar {
  width: 300px;
  background-color: #191919;
  color: white;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  margin: 0;
  position: relative;
}

