html, body {
  margin: 10px;
  padding: 10px;
}

canvas {
  display: block;
}

body {
  min-height: 300vh;
  overflow-x: hidden;
  background: #191919;
  color: rgb(255, 245, 233);
  font-family: "JetBrains Mono", monospace;
}

#title-container {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
}

#title {
  font-size: 3.5rem;
  font-weight: 200;
  letter-spacing: 2px;
  margin-bottom: 20px;
  white-space: nowrap;
}

#arrow {
  font-size: 3.5rem;
  color: red;
  margin-top: 20px;
  animation: blink 1.2s infinite alternate;
}

@keyframes blink {
  from { opacity: 1; }
  to   { opacity: 0.3; }
}


#intro-text {
  position: absolute;
  top: calc(30% + 100vh); /* metà viewport sotto il titolo */
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  font-weight: 200;
  color: rgb(255, 245, 233);
  opacity: 0; /* appare quando inizia l’animazione */
}
