html {
  margin: 10px;
  padding: 10px;
}

canvas {
  display: block;
}

body {
  min-height: 300vh;
  overflow-x: hidden;
  background: #191919;
  color: rgb(255, 245, 233);
  font-family: "JetBrains Mono", monospace;
}

#title-container {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
}

#title {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 20px;
  white-space: nowrap;
}

#arrow {
  font-size: 3.5rem;
  color: red;
  margin-top: 20px;
  animation: blink 1.2s infinite alternate;
}

@keyframes blink {
  from { opacity: 1; }
  to   { opacity: 0.3; }
}


#intro-container {
  position: absolute;
  top: calc(30% + 80vh);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
}

#intro-text {
  position: relative; /* prima era absolute */
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.6;
  font-weight: 200;
  min-height: 180px;
  opacity: 0;
}

#bullets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  gap: 12px;
}

.bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.667);
  transition: background 0.3s;
}

.bullet.active {
  background: red;
}

#button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: red;
  color: #fff;
  font-family: "JetBrains Mono", monospace;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.6s;
  width: fit-content;
}

