html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

body {
  min-height: 200vh;
  overflow-x: hidden;
  background: #191919;
  color: rgb(255, 245, 233);
  font-family: "JetBrains Mono", monospace;
}

#main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 5%;
  box-sizing: border-box;
  z-index: 1000;
  background-color: #191919;
}

.logo {
  color: rgb(255, 245, 233);
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: -1px;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-link {
  color: rgb(255, 245, 233);
  text-decoration: none;
  font-size: 0.9rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.nav-menu > .nav-link, 
.dropdown {
  margin-left: 40px;
}

.nav-link:hover {
  text-decoration: underline;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Il contenuto del menu (i due link) */
.dropdown-content {
  display: none; 
  position: absolute;
  background-color: #191919;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
  top: 100%; /* Si posiziona subito sotto visualizations */
  padding-top: 10px;
}

/* Link dentro la tendina */
.dropdown-content a {
  color: rgb(255, 245, 233);
  padding: 15px 16px;
  text-decoration: none;
  display: block;
  font-size: 0.85rem;
}

.dropdown-content a:hover {
  background-color: #2a2a2a;
  text-decoration: underline;
}

/* si mostra la finestra solo in hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#container {
  display: flex;
  width: 100vw;
  height: calc(100vh - 60px);
  padding-top: 60px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #191919;
}


#sketch-container {
  flex: 1;
  position: relative;   
}

#sketch-container canvas {
    top: 80px !important;
}

#team-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
}

#team-title {
  font-family: "JetBrains Mono", monospace;
  font-size: 3rem;
  color: red;
  font-weight: 300;
  margin-bottom: 40px;
}

#team-names-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.team-row {
  display: flex;
  justify-content: center;
}

.team-name {
  font-family: "JetBrains Mono", monospace;
  font-size: 1.5rem;
  color: rgb(255, 245, 233);
  margin: 0 40px;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  white-space: nowrap;
}


.team-name:hover {
  color: red;
}
